mixin articlePost(arr)
	.article__post__img
		a(href= url class= ``)
			img(src=arr.image, alt=arr.image_alt)
	.article__post__content
		.article__post__desc 
			a(href= url)= arr.description
		.article__post__info
			span.article__post__author= arr.author
			span.article__post__date= arr.date
		.article__post__tag= arr.tag
		.article__post__comment= arr.value