include mixins/_m_header
include mixins/_m_footer

mixin listLink(arr)
	- gl_mod = arr.gl_mod || ''
	ul(class=`${arr.gl_class}__list`) !{arr.ul_title}
		each item in arr.items
			- url = item.url || '#'
			li(class= `${arr.gl_class}__item ${item.active ? `${arr.gl_class}__item--active` : ''} ${gl_mod ? `${arr.gl_class}__item--${gl_mod}` : ''}`)
				a(href= url class= `${arr.gl_class}__link ${gl_mod ? `${arr.gl_class}__link--${gl_mod}` : ''}`)= item.title

mixin itemPost(arr)
		ul(class=`article__items`)
			each item in arr.items
				- url = item.url || '#'
					li.article__post
						.article__post-img
							a(href= url class= ``)
								img(src=item.image, alt=item.image_alt)
						.article__post-content
							.article__post-desc 
								a(href= url)= item.description
							.article__post-info
								span.article__post-author= item.author
								span.article__post-date= item.date
							.article__post-tag= item.tag
							.article__post-comment= item.value